<html>
    <head>
        <title>Pierre's Vendor Tracker</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        @Html.Partial("Header");
        <div class = "container">
            <p>Click <a href="/vendors">here</a> to view your vendor summary</p>
            <p>Click <a href="/orders/summary">here</a> to view your overall order breakdown</p>
        </div>
    </body>
</html>