@using PierresTracker.Models;
@using System.Collections.Generic;
<html>
    <head>
        <title>All Order Summary</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='~/css/styles.css'>
    </head>
    <body>
        @Html.Partial("Header")
        <div class = "container">
            <h1>All Order Summary</h1>
            
            <div id=orderSummary>
                @Html.Partial("Table")
            </div> 
        </div>
    </body>
</html>